<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master Detail</title>
    <link rel="stylesheet" href="../todo.css">
</head>
<body>

<h1>To Do's</h1>

<!--To Do's-->
<main>
    <div class="holder">
        <button id="plus" autofocus onclick="todoController.addTodo();"> + </button>

        <div class="table" id="todoContainer"></div>

        <div>Tasks: <span id="numberOfTasks">0</span></div>
        <div>Open: <span id="openTasks">0</span></div>
    </div>
</main>

<!--Detail View-->
<main>
    <div class="holder2" id="detailContainer">
        <form id="detail">
            <label>ID</label><label type="text" id="detailID" disabled></label>
            <label>Titel</label><input type="text" id="detailTitle">
            <label>Beschreibung</label><input type="text" id="detailDescription">
            <label>Datum</label><input type="date" id="detailDate">
            <label>Erledigt</label><input type="checkbox" id="detailDone">
        </form>
        <button id="back">zurück</button>
        <button id="save">speichern</button>
    </div>
</main>

<script src="Start.js" type="module"></script>

</body>
</html>